#nav {
    background-color: var(--aside-background-primary);
    max-width: calc(100vw*0.2);
    min-width: 190px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#logo-container{
    display: flex;
    color: var(--palette-secondary);
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.75rem;
}

#logo-container img{
    max-width: 90px;
    max-height: auto;
    opacity: 0.9;
    z-index: 0;
    /*
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.4962185557816877) 100%);
    */
}

#logo-container span{
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-left: 0.5rem;
}
#logo-container h2{
    font-size: var(--aside-titlesize);
    margin: auto auto auto 0;
}

#logo-container h3{
    font-size: var(--aside-undertitlesize);
}


#menu{
    flex-grow: 1;
    list-style: none;
    margin: auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

#nav hr{
    width: 100%;
    height: 8px;
    background-color: var(--aside-background-primary-light);
    border: 0;
    margin-bottom: 5vh;
}

#menu li{
    margin: 1.5rem auto;
    width: 90%;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    background: rgba(53, 87, 151, 0.3);
    border-radius: 20px;
    align-items: center;
    font-size: var(--aside-tabtitlesize);
    cursor: pointer;
}

#menu li:hover{
    background-color: rgba(53, 87, 151, 0.6);
}

#menu li *{
    padding: 0px 4%;
}

#menu li._selected{
    color: var(--palette-secondary);
    border: 2px solid var(--palette-tertiary);
    cursor: default;
}

#footer{
    opacity: 2;
    padding: 0.5rem;
    display: inline-flex;
    justify-items: center;
}

#footer img{
    max-width: 5vw;
    height: auto;
}

#agartha-logo-container{
    margin: auto;
}