:root{
    font-size: 15px;

    /*--<container_name>-<function>-<importance>-<variant>*/
  
    /*palette*/
    --palette-primary : #284171;
    --palette-secondary : #fc9d03;
    --palette-tertiary : #e5e5e5;
    --palette-fontcolor : #FFFFFF;
  
    /*main*/
    --main-background-primary : #FBFBFB;
  
    /*aside*/
    --aside-background-primary : #14213D;
    --aside-background-primary-light : #1B2C4B;
    --aside-background-primary-dark : #0D1626;
    --aside-titlesize : 2rem;
    --aside-undertitlesize : 0.75rem;
    --aside-tabtitlesize : 1.4rem;
  
    /*locker*/
    --locker-containersbordercolor : #000;
    --locker-containerfontcolor : #000;
    --locker-servicelettersize : 2rem;
    --locker-servicesize : 1.1rem;
    --locker-labelsize : 0.8rem;
  
    color: var(--palette-fontcolor);
  
    /*board*/
    --board-titlecolor : var(--palette-fontcolor);
    --board-fontcolor : #000000;
    --board-titlesize: 2.5rem;
}

#root {
    height: 100%;
}

#root > div{
    display: flex;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-primary);
    color: var(--font-color-primary);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}